{% extends 'base.html' %}
{% block title %}Edit tournament{% endblock %}
{% block content %}
	<nav class="navbar navbar-expand-lg navbar-dark bg-success sticky-top">
		<a class="navbar-brand" href="{{ url_for('index') }}">Tournaments</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			<div class="navbar-nav ml-auto">
				{% if user %}
					<a class="nav-item nav-link" href="{{ url_for('user') }}">{{ user.name }} {{ user.surname }}</a>
					{% if user.admin %}
						<a class="nav-item nav-link" href="{{ url_for('admin') }}">admin</a>
					{% endif %}
				{% else %}
					<a class="nav-item nav-link" href="{{ url_for('login') }}">sign in</a>
				{% endif %}
			</div>
		</div>
	</nav>

	<div class="container py-5">
		<h2 class="text-center text-uppercase mb-5">Edit Tournament: <i>{{ tournament.name }}</i></h2>
		
		<form method="POST" class="mx-auto my-5 w-75">
			<div class="form-group">
				<label for="tournamentName">Tournament name</label>
				<input type="text" class="form-control" id="tournamentName" name="name" value="{{ tournament.name }}" required>
			</div>
			<div class="form-group">
				<label for="tournamentDescription">Tournament description</label>
				<textarea class="form-control" id="tournamentDescription" name="description" rows="5" required>{{ tournament.description }}</textarea>
			</div>
			<button type="submit" class="btn btn-primary">Submit</button>
			{% with flash = get_flashed_messages() %}
				{% if flash %}
					{% for fl in flash %}
						<hr>
						<span class="error">{{fl}}</span>
					{% endfor %}
				{% endif %}
			{% endwith %}
		</form>

		<div class="row">		
			<div class="col-3">
				<h5>Participants:</h5>
				<ul>
					{% for team in select_teams(args[0], args[1]) %}
						<li>{{ team.name }}</li>
					{% endfor %}
				</ul>
				<a class="btn btn-success" href="{{ url_for('add_team', user_id = args[0], tournament_id = args[1]) }}">Add Participant</a>
			</div>
			<div class="col-9">
				<h5>Matches</h5>
				<ul>
					{% for match in select_matches(args[1]) %}
						<li>{{ get_team_name(match.team_home_id) }} vs {{ get_team_name(match.team_guest_id) }} in tour {{ match.tour }}</li>
					{% endfor %}
				</ul>
				<a href="{{ url_for('add_match', user_id = args[0], tournament_id = args[1]) }}" class="btn btn-success">Add manthes</a>
			</div>
		</div>
	</div>
{% endblock %}