{% extends 'base.html' %}
{% block title %}Sign In{% endblock %}
{% block content %}
	<nav class="navbar navbar-expand-lg navbar-dark bg-success sticky-top">
		<a class="navbar-brand" href="{{ url_for('index') }}">Tournaments</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
	</nav>


	<div class="container py-5">
		<h2 class="text-center my-5	text-uppercase">sign in</h2>

		<form method="POST" class="mx-auto w-50">
			<div class="form-group">
				<label for="userEmail">Email address</label>
				<input type="email" class="form-control" id="userEmail" name="email" required>
			</div>
			<div class="form-group">
				<label for="userPassword">Password</label>
				<input type="password" class="form-control" id="userPassword" name="password" required>
			</div>
			<button type="submit" class="btn btn-primary">Submit</button>
			{% with flash = get_flashed_messages() %}
				{% if flash %}
					{% for fl in flash %}
						<hr>
						<span class="error">{{fl}}</span>
					{% endfor %}
				{% endif %}
			{% endwith %}
		</form>
		<p class="text-center my-4">Have no account? <a href="{{ url_for('registration') }}">Sign up</a>, please!</p>
	</div>
{% endblock %}