body {
	background-image: url("../img/bg.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-attachment: fixed;
}

.container {
	background-color: #fff;
	width: 60%;
	height: 100%;
	border: 2px #000;
	border-style: none solid;
}

.card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.error {
	color: red;
	font-weight: bold;
}

/* Test div */
.test {
  background: rgba(0,0,0,.9);
  position: fixed;
  bottom: 0;
  width: 100%;
}

.test marquee {
  height: 25px;
  padding: 5px;
}

.test_link {
  color: #fff;
}

.test_link:hover {
  text-decoration: none;
}